.App {
  text-align: center;
}
.Header{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  align-items: center;
  background:url('https://img.freepik.com/free-vector/brush-strokes-background_53876-89327.jpg?size=626&ext=jpg&ga=GA1.2.1503416500.1609286400');
}
.albums {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 60vh;
  flex-wrap: wrap;
  background: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg');
  background-size: cover;
}

.favorites {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 40vh;
  width: 100vw;
  background: url('https://img.freepik.com/free-vector/brush-strokes-background_53876-89327.jpg?size=626&ext=jpg&ga=GA1.2.1503416500.1609286400');
  background-size: cover;
}

.singleAlbum {
  width: 180px;
  height: 150px;
  position: relative;
  top: 40px;
}

.singleFav{
  position: relative;
  top: 80px;
}

.favtitle{
  position: absolute;
}